{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>eHostel Portal</title>
	<link rel="stylesheet" href="{% static "base.css" %}" />
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action= "{% url 'allocate' %}" method = "POST"  id="form">
        {% csrf_token %}

        <select id="cars">
            {% for hostel in all_hostel %}
                <option  name ="h_name" >{{hostel}}</option>
            {%endfor%}
          </select>
          <br><br>
        <input type="number" name="room_no">   <br><br>
        <input type="submit" value="Submit">
    </form>

    <a href="dashboard/"> Dashboard  </a> <br>
    <a href="logout/"> Logout  </a>

    
</body>
</html>