{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>eHostel Portal</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
	<link rel="stylesheet" href="{% static "base.css" %}" />
</head>
<body>
    <h2> Student Details </h2>

    {% if valid %}
        <table style="width:100%">
            <tr>
            <th>NAME</th>
            <th>REGISTRATION NO.</th> 
            <th>ROOM NO:</th>
            </tr>
            <tr>
            <td>{{ details[0] }}</td>
            <td>{{ details[1] }}</td>
            <td> {{details[] }}</td>
            </tr>
        </table>
    {% else %}
    {% endif %}    

</body>
</html>