{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>eHostel Portal</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
	<link rel="stylesheet" href="{% static "base.css" %}" />
</head>
<body>
    <h2> Student Details </h2>

    {% if valid %}
        <table style="width:100%">
            <tr>
            <th>NAME</th>
            <th>REGISTRATION NO.</th> 
            <th>ROOM NO:</th>
            <th>PHONE NO: </th>
            <th>BRANCH </th>
            <th>YEAR </th>
            <th>MESS RECEIPT NUMBER </th>>
            </tr>
            <tr>
            <td>{{ details[0] }}</td>
            <td>{{ details[1] }}</td>
            <td> {{ res[0] }}</td>
            <td> {{ res[3] }}</td>
            <td> {{ res[11] }}</td>
            <td> {{ res[12] }}</td>
            <td> {{res[13]}}</td>

            </tr>
        </table>
    {% else %}
        <p> NO RECORDS TO SHOW </p>>
    {% endif %}    


    <a href="dashboard/"> Dashboard  </a> <br>
    <a href="logout/"> Logout  </a>

</body>
</html>